Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
python-dotenv
PyMySQL
cryptography
Werkzeug
flask-login
Pillow
qrcode[pil]
pdfkit
weasyprint
reportlab
pikepdf
pypdf
pymupdf
gunicorn
psutil
pytest
