{% extends "base.html" %}
{% import "components/form/macros.html" as ui_form %}

{% block title %}Configuracoes do Sistema{% endblock %}

{% block content %}
{% call ui_form.page_shell() %}
<div id="empresaPageRoot" x-data="empresaApp()" x-init="init()" class="animate-fade-in-up w-full space-y-6 pb-28">
    {% include "empresa/partials/_hero.html" %}
    {% include "empresa/partials/_tabs.html" %}

    <main id="empresa-tab-content" class="space-y-6">
        {% include "empresa/partials/_section_geral.html" %}
        {% include "empresa/partials/_section_definicoes.html" %}
        {% include "empresa/partials/_section_papeis.html" %}
        {% include "empresa/partials/_section_workflow.html" %}
    </main>

    {% include "empresa/partials/_action_bar.html" %}
    {% include "empresa/partials/_modals.html" %}
</div>

<script>
    window.__empresaPageData = {
        startInEditMode: {{ start_in_edit_mode|tojson }},
        urls: {
            empresaView: {{ empresa_view_url|tojson }},
            empresaEdit: {{ empresa_edit_url|tojson }},
            createDefinicao: {{ url_for('auth.api_create_definicao')|tojson }},
            createPapel: {{ url_for('auth.api_create_papel')|tojson }},
            createWorkflow: {{ url_for('auth.api_create_workflow')|tojson }},
            updateWorkflowDefault: {{ url_for('auth.api_update_workflow_default')|tojson }},
            updateWorkflowEmpresa: {{ url_for('auth.api_update_workflow_empresa', workflow_id=0)|tojson }},
            updateEmpresaConfig: {{ url_for('auth.api_update_empresa_config')|tojson }}
        },
        obrasWorkflowData: {{ obras_modal_payload|tojson }},
        workflowDefaultCodigo: {{ (workflow_default_codigo or 'SIMPLES')|tojson }},
        workflow: {
            roleOptions: {{ workflow_role_options|tojson|safe }},
            userOptions: {{ workflow_user_options|tojson|safe }},
            previewById: {{ workflow_preview_by_id|tojson|safe }},
            defaultId: {{ workflow_default_id|tojson|safe }}
        }
    };
</script>
<script src="{{ url_for('static', filename='js/pages/empresa/index.js') }}" defer></script>
<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
{% endcall %}
{% endblock %}
